@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lime-500: #84cc16;
}

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px black;
  }
  .text-shadow-md {
    text-shadow: 1px 1px black, 2px 2px black, 3px 3px black;
  }

  .text-shadow-lg {
    text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black,
      5px 5px black;
  }

  .word-spacing-1 {
    word-spacing: 0.5rem;
  }

  .break-word {
    word-break: break-word;
  }
}

@layer components {
  .shiny-text {
    --text-cream: #feeae4;
    --highlight: #f3d2ec;
    --light-shadow: #542877;
    --dark-shadow: #23215a;

    background-clip: text;
    -webkit-background-clip: text;
    grid-row: 1;
    grid-column: 1;
    -webkit-text-stroke: 5px transparent;
  }

  .shiny-text-bg {
    background-image: repeating-linear-gradient(
      105deg,
      var(--highlight) 0%,
      var(--dark-shadow) 5%,
      var(--highlight) 12%
    );
    color: transparent;
    filter: drop-shadow(5px 10px 10px black);
    transform: scaleX(0.96) scaleY(0.96);
    transform-origin: center;
  }

  .shiny-text-fg {
    color: var(--text-cream);
    background-image: repeating-linear-gradient(
      5deg,
      var(--highlight) 0%,
      var(--light-shadow) 23%,
      var(--highlight) 31%
    );
    transform: scale(1);
  }

  @keyframes growFromLeft {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  /** turnGreen turns the background green in the last frame of the animation. */
  @keyframes turnGreen {
    0% {
      background-color: white;
      animation-timing-function: steps(1, end);
    }
    100% {
      background-color: var(--lime-500);
    }
  }
}

.border-spin {
  --bw: 4px;
  --c: #d69f4c;

  background-image: linear-gradient(var(--c), var(--c)),
    linear-gradient(var(--c), var(--c)), linear-gradient(var(--c), var(--c)),
    linear-gradient(var(--c), var(--c));
  background-repeat: no-repeat;
  background-position: 0 100%, 0 0, 0 100%, 100% 0, 0 0, 0 0, 0 100%, 100% 0;
  background-size: var(--bw) 0%, 100% var(--bw), 0% var(--bw), var(--bw) 0%,
    var(--bw) 100%, 100% var(--bw), 100% var(--bw), var(--bw) 100%;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0 100%, 0 0, 0 100%, 100% 0;
    background-size: var(--bw) 0%, 100% var(--bw), 0% var(--bw), var(--bw) 0%;
  }
  15% {
    /* Right border appears */
    background-position: 0 100%, 100% 0, 100% 100%, 100% 0;
    background-size: var(--bw) 0%, 100% var(--bw), 0% var(--bw), var(--bw) 100%;
  }
  40% {
    /* Bottom border appears */
    background-position: 0 100%, 100% 0, 100% 100%, 100% 100%;
    background-size: var(--bw) 0%, 0% var(--bw), 100% var(--bw), var(--bw) 100%;
  }
  55% {
    /* Left border appears */
    background-position: 0 100%, 100% 0, 0% 100%, 100% 100%;
    background-size: var(--bw) 100%, 0% var(--bw), 100% var(--bw), var(--bw) 0%;
  }
  75% {
    /* Bottom border disappears */
    background-position: 0% 0%, 0% 0, 0% 100%, 100% 100%;
    background-size: var(--bw) 100%, 0% var(--bw), 0% var(--bw), var(--bw) 0%;
  }
  100% {
    /* Top border appears */
    background-position: 0% 0%, 0 0, 0 100%, 100% 100%;
    background-size: var(--bw) 0%, 100% var(--bw), 0% var(--bw), var(--bw) 0%;
  }
}
