@import "tailwindcss";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/caveat";

@font-face {
  font-family: "Korinna-Agency";
  src:
    url("/fonts/Korinna-Agency.ttf.woff") format("woff"),
    url("/fonts/Korinna-Agency.ttf.eot") format("eot");
  font-display: swap;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@theme {
  --color-blue-1000: #0b163f;
  --color-yellow-1000: #d69f4c;
  --color-blue-bright: #0c0a79;
  --color-blue-925: #222167;

  --shadow-glow-green-200: 0 0 20px 5px var(--color-green-200);
  --shadow-glow-red-200: 0 0 20px 5px var(--color-red-200);

  --font-korinna: "Korinna-Agency", "Times New Roman", "Times", serif;
  --font-inter: "Inter Variable", "Inter", "Times New Roman", "Times", serif;
  --font-handwriting: "Caveat Variable", "Caveat", cursive;

  --spacing-1\/6: 16.666667%;

  --animate-border-pulse: border-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-content-show: content-show 300ms cubic-bezier(0.16, 1, 0.3, 1) 20ms
    forwards;
  --animate-fade-scale-in: fade-scale-in 200ms ease-out;
  --animate-hide: hide 100ms ease-in;
  --animate-overlay-show: overlay-show 300ms cubic-bezier(0.16, 1, 0.3, 1) 20ms
    forwards;
  --animate-slide-in: slide-in 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-in-from-top-left: 0.5s ease-out 0s 1 slide-in-from-top-left
    forwards;
  --animate-slide-out: 0.5s ease-in 0s 1 slide-out-to-top-left forwards;
  --animate-slide-down-and-fade: slide-down-and-fade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-left-and-fade: slide-left-and-fade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-up-and-fade: slide-up-and-fade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-right-and-fade: slide-right-and-fade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-swipe-out: swipe-out 100ms ease-out;

  @keyframes border-pulse {
    0%,
    100% {
      border-color: rgba(252, 211, 77, 1);
    }
    50% {
      border-color: rgba(252, 211, 77, 0.5);
    }
  }

  @keyframes content-show {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fade-scale-in {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes hide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes overlay-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slide-in {
    from {
      transform: translateX(calc(100% + var(--viewport-padding)));
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-in-from-top-left {
    0% {
      transform: translate(-100%, -100%);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes slide-out-to-top-left {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, -100%);
    }
  }

  @keyframes slide-down-and-fade {
    from {
      opacity: 0;
      transform: translateY(-2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-left-and-fade {
    from {
      opacity: 0;
      transform: translateX(2px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-up-and-fade {
    from {
      opacity: 0;
      transform: translateY(2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-right-and-fade {
    from {
      opacity: 0;
      transform: translateX(2px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes swipe-out {
    from {
      transform: translateX(var(--radix-toast-swipe-end-x));
    }
    to {
      transform: translateX(calc(100% + var(--viewport-padding)));
    }
  }
}

:root {
  --lime-500: #84cc16;
}

@utility text-shadow {
  text-shadow: 1px 1px black;
}

@utility text-shadow-md {
  text-shadow:
    1px 1px black,
    2px 2px black,
    3px 3px black;
}

@utility text-shadow-lg {
  text-shadow:
    1px 1px black,
    2px 2px black,
    3px 3px black,
    4px 4px black,
    5px 5px black;
}

@utility word-spacing-1 {
  word-spacing: 0.5rem;
}

@utility break-word {
  word-break: break-word;
}

@utility shiny-text {
  --text-cream: #feeae4;
  --highlight: #f3d2ec;
  --light-shadow: #542877;
  --dark-shadow: #23215a;

  background-clip: text;
  -webkit-background-clip: text;
  grid-row: 1;
  grid-column: 1;
  -webkit-text-stroke: 5px transparent;
}

@utility shiny-text-bg {
  background-image: repeating-linear-gradient(
    105deg,
    var(--highlight) 0%,
    var(--dark-shadow) 5%,
    var(--highlight) 12%
  );
  color: transparent;
  filter: drop-shadow(5px 10px 10px black);
  transform: scaleX(0.96) scaleY(0.96);
  transform-origin: center;
}

@utility shiny-text-fg {
  color: var(--text-cream);
  background-image: repeating-linear-gradient(
    5deg,
    var(--highlight) 0%,
    var(--light-shadow) 23%,
    var(--highlight) 31%
  );
  transform: scale(1);
}

@keyframes growFromLeft {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes shrinkToLeft {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/** turnGreen turns the background green in the last frame of the animation. */
@keyframes turnGreen {
  0% {
    background-color: white;
    animation-timing-function: steps(1, end);
  }
  100% {
    background-color: var(--lime-500);
  }
}

.border-spin {
  --bw: 4px;
  --c: #d69f4c;

  background-image:
    linear-gradient(var(--c), var(--c)), linear-gradient(var(--c), var(--c)),
    linear-gradient(var(--c), var(--c)), linear-gradient(var(--c), var(--c));
  background-repeat: no-repeat;
  background-position:
    0 100%,
    0 0,
    0 100%,
    100% 0,
    0 0,
    0 0,
    0 100%,
    100% 0;
  background-size:
    var(--bw) 0%,
    100% var(--bw),
    0% var(--bw),
    var(--bw) 0%,
    var(--bw) 100%,
    100% var(--bw),
    100% var(--bw),
    var(--bw) 100%;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    background-position:
      0 100%,
      0 0,
      0 100%,
      100% 0;
    background-size:
      var(--bw) 0%,
      100% var(--bw),
      0% var(--bw),
      var(--bw) 0%;
  }
  15% {
    /* Right border appears */
    background-position:
      0 100%,
      100% 0,
      100% 100%,
      100% 0;
    background-size:
      var(--bw) 0%,
      100% var(--bw),
      0% var(--bw),
      var(--bw) 100%;
  }
  40% {
    /* Bottom border appears */
    background-position:
      0 100%,
      100% 0,
      100% 100%,
      100% 100%;
    background-size:
      var(--bw) 0%,
      0% var(--bw),
      100% var(--bw),
      var(--bw) 100%;
  }
  55% {
    /* Left border appears */
    background-position:
      0 100%,
      100% 0,
      0% 100%,
      100% 100%;
    background-size:
      var(--bw) 100%,
      0% var(--bw),
      100% var(--bw),
      var(--bw) 0%;
  }
  75% {
    /* Bottom border disappears */
    background-position:
      0% 0%,
      0% 0,
      0% 100%,
      100% 100%;
    background-size:
      var(--bw) 100%,
      0% var(--bw),
      0% var(--bw),
      var(--bw) 0%;
  }
  100% {
    /* Top border appears */
    background-position:
      0% 0%,
      0 0,
      0 100%,
      100% 100%;
    background-size:
      var(--bw) 0%,
      100% var(--bw),
      0% var(--bw),
      var(--bw) 0%;
  }
}
