.overlay {
  display: block;
  position: fixed;
  z-index: 1;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  background: #00008b;
  border: 1px solid black;
  max-width: 300px;

  color: white;
  transition: background-color 0.25s;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.card:hover,
.card:focus,
.card:active {
  background-color: rgba(0, 0, 255, 0.75);
  border-color: white;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
